<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.dal.persistence.UserMapper">
    <resultMap id="BaseResultMap" type="org.example.dal.entity.User">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="sex" jdbcType="TINYINT" property="sex"/>
        <result column="is_stop" jdbcType="BIT" property="isStop"/>
    </resultMap>

<!--    <select id="queryByIdsWithXML" resultType="org.example.dal.entity.User">-->
    <select id="queryByIdsWithXML" resultMap="BaseResultMap">
        SELECT * FROM user
        <where>
            <if test="ids != null and ids.size() > 0">
                AND id IN
                <foreach collection="ids" open="(" item="id" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>
</mapper>